h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
p{
    color: blueviolet;
    font-family: courier;
    font-family: 160%;
    border: 2px solid powderblue;
    padding: 2px;
    margin: 50px;
}